* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #333;
}

#menu ul {
  background: green;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  margin: 25px;
  height: 10px;


}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
#title
{
  line-height: 50px;
  margin-left :0px;
  color: blue;
  background-color: #bfbcaf;
}
#tensach{
  color   : red;
margin-left:300px;
}
.book{
  padding: 30px;
  margin-left: 10px;
  margin-right:  10px;
  margin-top:50px;
}
.book img{
  margin-left: 20px;
  padding:20px;
}
.book a{
  font-size: 27px;
}

#book1
{
  border-width: 5px;
  border-style: double;
  width: 100%;
  border-color: green;
}
#book2
{
  border-width: 5px;
  border-style: double;
  width: 100%;
border-color: green;
}
#book3
{
  border-width: 5px;
  border-style: double;
  width: 100%;
border-color: green;
}
#book4
{
  border-width: 5px;
  border-style: double;
  width: 100%;
border-color: green;
}
#book5
{
  border-width: 5px;
  border-style: double;
  width: 100%;
  border-color: green;
}
#book6
{
  border-width: 5px;
  border-style: double;
  width: 100%;
  border-color: green;
}
#book7
{
  border-width: 5px;
  border-style: double;
  width: 100%;
  border-color: green;
}
#book8
{
  border-width: 5px;
  border-style: double;
  width: 100%;
  border-color: green;

}

}
#book p{
  font-size: 16px;
}
#noidung{
  float:left;
  margin-left: 10px;
  padding:10px;
}
#hinhanh{
  float:left;
}
.clear{
  clear: both;
}
