* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #333;
  margin: auto;
}

.anhbia {
  margin-bottom: -4px;
  margin-left: -2px;
}

.anhbia1 {
  margin-bottom: -4px;
  margin-left: -2px;
}

#menu {
  margin: 0;
  padding: 0;
}

#menu ul {
  background: rgb(160, 166, 96);
  list-style-type: none;
  text-align: left;
  padding-left: 5%;
  font-size: 13pt;
  padding-bottom:25px;;
  line-height: 25px;
}

#menu li {
  color: #f1f1f1;
  display: inline-block;
  margin: 30px;
  height: 10px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#menu a:hover {
  background: #F1F1F1;
  color: #333;
}


#tensach {
  color: red;
  margin-left: 320px;
  font-family: serif;
  text-decoration: none;
}

.book {

  border:50px;
  border-style:ridge ;
  border-color: rgb(168, 116, 62);
  padding: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -10px;
  background-color: #d6f5f5;
}

.book img {
  margin-left: 30px;
  padding: 0px;
  height: 15%;
  width: 15%;
}

.book a {
  font-size: 27px;
  width: 70%;
}

.book p {
  font-size: 16px;
}

#xemthem {
  font-size: 16px;
}

#book1 {
  border-width: 10px;
  border-style: ridge;
  width: 100%;
  border-color: rgb(160, 166, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#book2 {
  border-width:10px;
  border-style: ridge;
  width: 100%;
  border-color: rgb(160, 166, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#book3 {
  border-width:10px;
  border-style: ridge;
  width: 100%;
  border-color: rgb(160, 166, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#book4 {
  border-width:10px;
  border-style: ridge;
  width: 100%;
  border-color: rgb(160, 166, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#book5 {
  border-width:10px;
  border-style: ridge;
  width: 100%;
  border-color: rgb(160, 166, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#book6 {
  border-width:10px;
  border-style: ridge;
  width: 100%;
  border-color: rgb(160, 166, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#book7 {
  border-width:10px;
  border-style:ridge;
  width: 100%;
  border-color: rgb(160, 166, 96);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#book8 {
  border-width:10px;
  border-style: ridge;
  width: 100%;
  border-color:rgb(160, 166, 96) ;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#noidungrutgon {
  float: left;
  margin-left: 10px;
  padding: 16px;
}

#hinhanh {
  float: left;
}

.clear {
  clear: both;
}

#noidung {
  border-width: 20px;
  border-style: ridge;
  border-color: rgb(160, 166, 96);
  padding: 30px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #99dfff;
  line-height: 30px;
}

img.cangiua {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}
